.mat-form-field.searchField {
    text-indent: 0;
    width: 15%;
    position: absolute;
    right: 100px;
    top: -140px;
}
.wrap {
  text-align: center;
  vertical-align: middle;
  padding-top: 200px;
  margin-bottom: 300px;
  padding-bottom: 300px;
  box-shadow: 0 40px 60px -20px rgba(0, 0, 0, 0.2);
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  radius: 50%;
  background: #eee;
  margin: 50px;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #3DAAE5;
  border-bottom-color: #3DAAE5;
  -webkit-animation: spinny 1s linear infinite;
          animation: spinny 1s linear infinite;
}
@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(72deg) scale(1.4);
            transform: rotate(72deg) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(72deg) scale(1.4);
            transform: rotate(72deg) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
button.add-item-button.btn.btn-sm.btn-success span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: lowercase;
  font-family: Arial;
  font-weight: 600;
}
button.add-item-button.btn.btn-sm.btn-success {
  position: fixed;
  right: 0;
  z-index: 100;
}
div.cdk-overlay-container {
  z-index: 9000;
}
div.cdk-overlay-pane {
  z-index: 9000;
}
html {
  background: #e0e0e0;
  background-size: 100%;
  background-attachment: fixed;
}
a {
  color: white;
}
body {
    margin-top: 0;
    margin-bottom: 0;
    color: #272727;
}
a:focus, a:hover {
    color: #003a6d;
    text-decoration: none;
}
nav.navbar.navbar-dark.bg-primary {
    background-color: #1b3446 !important;
}
a.nav-item.nav-link.logo {
    color: #1b3446;
}
.input-group {
  	margin-bottom: 15px;
}
.mat-input-prefix {
    margin-right: 10px;
}
.mat-form-field {
    width: 100%;
}
.mat-drawer {
    position: relative;
    transform: translate3d(0,0,0);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    min-width: 5vw;
    outline: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    transform: translate3d(-100%,0,0);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
h4.page-title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    background: #4caf50;
    text-indent: 40px;
    padding: 12px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
mat-sidenav.example-sidenav.mat-drawer {
	overflow-y: visible;
}
.example-container {
  	height: 100%;
}
mat-sidenav-container.mat-drawer-container{
	overflow: visible;
}
div.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
    cursor: pointer;
}
.mat-list .mat-list-item div.mat-list-item-content {
    height: auto;
    padding: 0;
}
.mat-drawer-container {
    background-color: transparent;
}
.list-group a.list-group-item {
    background-color: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.6);
}
.list-group a:hover {
    font-weight: 600;
    background-color: rgba(2, 117, 216, 0.42);
    color: white;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: rgba(2, 117, 216, 0.42);
    border-color: #ffffff;
}
button.mat-button {
    padding: 0;
    width: 95%;
}
button.mat-raised-button.mat-warm{
    background-color: #2670af;
    color: black;
}
.mat-tab-labels {
    background-color: rgba(255, 255, 255, 0.81);
}
.mat-tab-label.mat-ripple.mat-tab-label-active {
    background: white;
}
.mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: rgb(255, 255, 255);
}
.info_table li h4 {
    width: 140px;
    margin-right: 10px;
    display: block;
    padding: .5em 1em;
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    background: rgb(53, 132, 203);
    border-radius: 0;
}
.info_table ul.nav.nav-pills.nav-fill {
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
}
.info_table ul.nav.nav-pills.nav-fill:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.52);
}
.info_table ul.nav.nav-pills.nav-fill a:first-child {
    border-left: 1px dashed rgba(255, 255, 255, 0.29);
}
.info_table ul.nav.nav-pills.nav-fill a {
    border-right: 1px dashed rgba(255, 255, 255, 0.29);
    margin-right: 3px;
    border-radius: 0;
}
.info_table .nav-pills .nav-item+.nav-item {
    margin-right: .2rem;
}
.info_table .row {
    padding: 0 0 15px 0;
}
.info_table .table thead th {
    font-size: 14px;
    font-weight: 500;
}
.add-item {
  top: 10px;
}
.info_table input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: rgba(255, 0, 0, 0) !important;
}
.info_table table.table.table-bordered.table-striped {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    background: white;
    border: none;
}
.info_table .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}
.info_table .table-bordered td, .table-bordered th {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    color: #212121;
}
.info_table .table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
    color: rgba(0,0,0,.54);
    font-weight: 400;
    font-size: 14px;
}
.info_table .thead-default th {
    color: #55595c;
    background-color: #ffffff;
}
.info_table .addItem form.form-inline {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.21);
    margin-top: 70px;
    padding-top: 20px;
}
.info_table .mat-input-element {
    color: black;
}
.info_table .mat-input-prefix span {
    color: black;
}
.info_table mat-sidenav.example-sidenav.mat-drawer {
    background: transparent;
    z-index: 1;
}
.info_table .table tr{
    white-space: nowrap;
}
form.form-inline.searcher mat-form-field {
  width: 48%;
}
form.form-inline.searcher {
  position: absolute;
  right: 20px;
  top: -140px;
  width: 400px;
}
.bg-over {
  display: block;
  position: absolute;
  top: -300%;
  left: -70px;
  z-index: 10;
  width: 106%;
  height: 400%;
  background: rgba(0, 0, 0, 0.36);
}
.addItem .mat-form-field {
  width: 49%;
}
.addItem {
  background-color: white;
}
.col-md-4.animated.fadeInDown.editingForm {
  position: relative;
  z-index: 20;
  background: white;
  padding: 10px;
  margin: 0 auto;
  float: none;
  top: -40px;
}
