<!-- CRUD -->
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="info_table">
  <div class="" *ngIf="!isLoading">
    <h6 class="">Количество арендаторов: {{renters.length}}</h6>
    <table class="table table-bordered table-striped" *ngIf="!isEditing">
      <thead class="thead-default">
        <tr>
          <th>Организация</th>
          <th>Конт. лицо</th>
          <th>Площадь</th>
          <th>Месяч. оплата</th>
          <th>Литер</th>
          <th>Телефон</th>
          <th>Дата окон.</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tr *ngFor="let renter of renters">
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.dob}}</td>
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.docSide}}</td>
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.square}}кв.м</td>
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.priceSum}}</td>
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.liter}}</td>
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.docSideTel}}</td>
        <td class="clickable" data-toggle="modal" title="Нажмите, чтобы просмотреть подробнее" [attr.data-target]="'#'+renter.name.replace(' ', '')">{{renter.dateUntil}}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="enableEditing(renter)">
            <i class="fa fa-pencil"></i> Редактировать
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteRenter(renter)">
            <i class="fa fa-divash"></i> Удалить
          </button>
        </td>
        <div class="modal fade renterInfo" [attr.id]="renter.name.replace(' ', '')" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <mat-card class="example-card">
              <mat-card-content>
                <div class="col-4 col-md-4">
                  <h5 class="renter">Арендатор</h5>
                  <div class="form-group inline fullwidth"><label><i class="material-icons">account_balance</i>
                    Организация: </label>
                    <div>{{renter.dob}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">account_circle</i>
                    ФИО: </label>
                    <div>{{renter.name}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">call</i>
                    Телефон: </label>
                    <div>{{renter.tel}}</div>
                  </div>

                  <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                    Месяч. оплата: </label>
                    <div>{{renter.priceSum}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">sort_by_alpha</i>
                    Литер: </label>
                    <div>{{renter.liter}}</div>
                  </div>
                  <div class="form-group inline fullwidth"><label><i class="material-icons">visibility</i>
                    Продукт / Услуги: </label>
                    <div>{{renter.rentersProduct}}</div>
                  </div>
                </div>
                <div class="col-4 col-md-4">
                  <h5 class="document">Договор</h5>
                  <div class="form-group inline"><label>
                    № договора: </label>
                    <div>{{renter.docNumber}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">sentiment_satisfied</i>
                    Сторона договора: </label>
                    <div>{{renter.docSide}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">person_pin_circle</i>
                    Должность: </label>
                    <div>{{renter.docSidePos}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">local_phone</i>
                    Телефон: </label>
                    <div>{{renter.docSideTel}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">access_time</i>
                    Дата от: </label>
                    <div>{{renter.dateFrom}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">access_time</i>
                    Дата до: </label>
                    <div>{{renter.dateUntil}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">notifications</i>
                    Статус: </label>
                    <div>{{renter.status}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">query_builder</i>
                    Депозит: </label>
                    <div>{{renter.deposite}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                    Факт. оплата: </label>
                    <div>{{renter.factPay}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">query_builder</i>
                    Сумма оплаты: </label>
                    <div>{{renter.priceSum}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                    Дата оплаты: </label>
                    <div>{{renter.datePay}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">local_atm</i>
                    Тип оплаты: </label>
                    <div>{{renter.typePay}}</div>
                  </div>
                </div>
                <div class="col-4 col-md-4">
                  <h5 class="office">Помещение</h5>
                  <div class="form-group inline"><label><i class="material-icons">domain</i>
                    Тип помещения: </label>
                    <div>{{renter.type}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">sort_by_alpha</i>
                    Литер: </label>
                    <div>{{renter.liter}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">stop</i>
                    Площадь: </label>
                    <div>{{renter.square}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                    Цена: </label>
                    <div>{{renter.price}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">local_florist</i>
                    ТБО: </label>
                    <div>{{renter.tbo}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">power</i>
                    Электричество: </label>
                    <div>{{renter.electric}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">network_cell</i>
                    Тел. связь: </label>
                    <div>{{renter.telNet}}</div>
                  </div>
                  <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                    Сумма всего: </label>
                    <div>{{renter.sumAll}}</div>
                  </div>
                  <div class="form-group"><label><i class="material-icons">event_note</i>
                    Примечание: </label>
                    <div>{{renter.note}}</div>
                  </div>
                </div>

              </mat-card-content>
              <mat-card-actions>
                <button class="btn btn-sm btn-info" (click)="enableEditing(renter)" data-dismiss="modal">
                  <i class="fa fa-pencil"></i> Редактировать
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteRenter(renter)">
                  <i class="fa fa-divash"></i> Удалить
                </button>
                <button class="btn btn-sm btn-default" data-dismiss="modal">
                  <i class="fa fa-close"></i> Закрыть
                </button>
              </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </tr>
    </table>
    <div *ngIf="renters.length === 0">
      <div>
        <div colspan="22">В базе данных еще нет Арендаторов. Добавьте их.</div>
      </div>
    </div>
    <mat-card class="edit-card col-12 col-md-12 animated bounceInRight" *ngIf="isEditing">
  <form class="" #form="ngForm" (ngSubmit)="editRenter(renter)" style="display:inline">
    <mat-card-content>
      <div class="col-4 col-md-4">
        <h5 class="renter">Арендатор</h5>
        <div class="form-group inline fullwidth"><label><i class="material-icons">account_balance</i>
          Организация: </label>
          <input class="form-control" name="dob" [(ngModel)]="renter.dob" step="any" min="0" placeholder="Дата рождения">
        </div>
        <div class="form-group inline"><label><i class="material-icons">account_circle</i>
          ФИО: </label>
          <input class="form-control" name="name" [(ngModel)]="renter.name" placeholder="Имя">
        </div>
        <div class="form-group inline"><label><i class="material-icons">call</i>
         Телефон: </label>
          <input class="form-control" name="tel" [(ngModel)]="renter.tel" placeholder="Телефон">
        </div>

        <div class="form-group inline fullwidth"><label><i class="material-icons">visibility</i>
          Продукт / Услуги: </label>
          <input class="form-control" name="rentersProduct" [(ngModel)]="renter.rentersProduct" placeholder="Продукт / Услуги">
        </div>
      </div>
      <div class="col-4 col-md-4">
        <h5 class="document">Договор</h5>
        <div class="form-group inline"><label>
          № договора: </label>
          <input class="form-control" name="docNumber" [(ngModel)]="renter.docNumber" placeholder="№ договора">
        </div>
        <div class="form-group inline"><label><i class="material-icons">sentiment_satisfied</i>
          Сторона договора: </label>
          <input class="form-control" name="docSide" [(ngModel)]="renter.docSide" placeholder="Сторона договора">
        </div>
        <div class="form-group inline"><label><i class="material-icons">person_pin_circle</i>
          Должность: </label>
          <input class="form-control" type="docSidePos" name="docSidePos" [(ngModel)]="renter.docSidePos" placeholder="Должность">
        </div>
        <div class="form-group inline"><label><i class="material-icons">local_phone</i>
          Телефон: </label>
          <input class="form-control" name="docSideTel" [(ngModel)]="renter.docSideTel" placeholder="Телефон">
        </div>
        <div class="form-group inline"><label><i class="material-icons">access_time</i>
         Дата от: </label>
          <input class="form-control" type="date" name="dateFrom" [(ngModel)]="renter.dateFrom" placeholder="Дата от">
        </div>
        <div class="form-group inline"><label><i class="material-icons">access_time</i>
         Дата до: </label>
          <input class="form-control" type="date" name="dateUntil" [(ngModel)]="renter.dateUntil" placeholder="Дата до">
        </div>
        <div class="form-group inline"><label><i class="material-icons">notifications</i>
         Статус: </label>
          <input class="form-control" name="status" [(ngModel)]="renter.status" placeholder="Статус">
        </div>
        <div class="form-group inline"><label><i class="material-icons">query_builder</i>
         Депозит: </label>
          <input class="form-control" name="deposite" [(ngModel)]="renter.deposite" placeholder="Депозит">
        </div>
        <div class="form-group inline"><label><i class="material-icons">attach_money</i>
         Факт. оплата: </label>
          <input class="form-control" name="factPay" [(ngModel)]="renter.factPay" placeholder="Факт. оплата">
        </div>
        <div class="form-group inline"><label><i class="material-icons">query_builder</i>
         Сумма оплаты: </label>
          <input class="form-control" name="priceSum" [(ngModel)]="renter.priceSum" placeholder="Сумма оплаты">
        </div>
        <div class="form-group inline"><label><i class="material-icons">attach_money</i>
         Дата оплаты: </label>
          <input class="form-control" type="date" name="datePay" [(ngModel)]="renter.datePay" placeholder="Дата оплаты">
        </div>
        <div class="form-group inline"><label><i class="material-icons">local_atm</i>
         Тип оплаты: </label>
          <input class="form-control" name="typePay" [(ngModel)]="renter.typePay" placeholder="Тип оплаты">
        </div>
      </div>
      <div class="col-4 col-md-4">
        <h5 class="office">Помещение</h5>
        <div class="form-group inline"><label><i class="material-icons">domain</i>
         Тип помещения: </label>
          <input class="form-control" name="type" [(ngModel)]="renter.type" placeholder="Тип помещения">
        </div>
        <div class="form-group inline"><label><i class="material-icons">sort_by_alpha</i>
         Литер: </label>
          <input class="form-control" name="liter" [(ngModel)]="renter.liter" placeholder="Литер">
        </div>
        <div class="form-group inline"><label><i class="material-icons">stop</i>
         Площадь: </label>
          <input class="form-control" name="square" [(ngModel)]="renter.square" placeholder="Площадь">
        </div>
        <div class="form-group inline"><label><i class="material-icons">attach_money</i>
         Цена: </label>
          <input class="form-control" name="price" [(ngModel)]="renter.price" placeholder="Цена">
        </div>
        <div class="form-group inline"><label><i class="material-icons">local_florist</i>
         ТБО: </label>
          <input class="form-control" name="tbo" [(ngModel)]="renter.tbo" placeholder="ТБО">
        </div>
        <div class="form-group inline"><label><i class="material-icons">power</i>
         Электричество: </label>
          <input class="form-control" name="electric" [(ngModel)]="renter.electric" placeholder="Электричество">
        </div>
        <div class="form-group inline"><label><i class="material-icons">network_cell</i>
         Тел. связь: </label>
          <input class="form-control" name="telNet" [(ngModel)]="renter.telNet" placeholder="Тел. связь">
        </div>
        <div class="form-group inline"><label><i class="material-icons">attach_money</i>
         Сумма всего: </label>
          <input class="form-control" name="sumAll" [(ngModel)]="renter.sumAll" placeholder="Сумма всего">
        </div>
        <div class="form-group"><label><i class="material-icons">event_note</i>
         Примечание: </label>
          <textarea class="form-control" name="note" [(ngModel)]="renter.note" placeholder="Примечания"></textarea>
        </div>
      </div>
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
      <button class="btn btn-sm btn-info" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </form>
</mat-card>
  </div>

</div>
  <button class="add-item-button btn btn-sm btn-success" data-toggle="modal" data-target='#addNewItem'>
    <span>Добавить арендатора</span>
  </button>
  <!-- Modal -->
  <div class="modal fade" id="addNewItem" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Добавление нового арендатора</h4>
        </div>
        <div class="modal-body">
          <div class="addItem">
            <div>
              <form class="form-inline" [formGroup]="addRenterForm" (ngSubmit)="addRenter()" style="text-align:center">
                <mat-card-content>
                  <div class="col-4 col-md-4">
                    <h5 class="renter">Арендатор</h5>
                    <div class="form-group inline fullwidth"><label><i class="material-icons">account_balance</i>
                      Организация: </label>
                      <input class="form-control" name="dob" formControlName="dob" placeholder="Организация">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">account_circle</i>
                      ФИО: </label>
                      <input class="form-control" name="name" formControlName="name" placeholder="ФИО">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">call</i>
                      Телефон: </label>
                      <input class="form-control" name="tel" formControlName="tel" placeholder="Телефон">
                    </div>

                    <div class="form-group inline"><label><i class="material-icons">visibility</i>
                      Продукт / Услуги: </label>
                      <input class="form-control" name="rentersProduct" formControlName="rentersProduct" placeholder="Продукт / Услуги">
                    </div>
                  </div>
                  <div class="col-4 col-md-4">
                    <h5 class="document">Договор</h5>
                    <div class="form-group inline"><label>
                      № договора: </label>
                      <input class="form-control" name="docNumber" formControlName="docNumber" placeholder="№ договора">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">sentiment_satisfied</i>
                      Сторона договора: </label>
                      <input class="form-control" name="docSide" formControlName="docSide" placeholder="Сторона договора">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">person_pin_circle</i>
                      Должность: </label>
                      <input class="form-control" type="docSidePos" name="docSidePos" formControlName="docSidePos" placeholder="Должность">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">local_phone</i>
                      Телефон: </label>
                      <input class="form-control" name="docSideTel" formControlName="docSideTel" placeholder="Телефон">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">access_time</i>
                      Дата от: </label>
                      <input class="form-control" type="date" name="dateFrom" formControlName="dateFrom" placeholder="Дата от">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">access_time</i>
                      Дата до: </label>
                      <input class="form-control" type="date" name="dateUntil" formControlName="dateUntil" placeholder="Дата до">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">notifications</i>
                      Статус: </label>
                      <input class="form-control" name="status" formControlName="status" placeholder="Статус">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">monetization_on</i>
                      Депозит: </label>
                      <input class="form-control" name="deposite" formControlName="deposite" placeholder="Депозит">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                      Факт. оплата: </label>
                      <input class="form-control" name="factPay" formControlName="factPay" placeholder="Факт. оплата">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">monetization_on</i>
                      Сумма оплаты: </label>
                      <input class="form-control" name="priceSum" formControlName="priceSum" placeholder="Сумма оплаты">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">insert_invitation</i>
                      Дата оплаты: </label>
                      <input class="form-control" type="date" name="datePay" formControlName="datePay" placeholder="Дата оплаты">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">local_atm</i>
                      Тип оплаты: </label>
                      <input class="form-control" name="typePay" formControlName="typePay" placeholder="Тип оплаты">
                    </div>
                  </div>
                  <div class="col-4 col-md-4">
                    <h5 class="office">Помещение</h5>
                    <div class="form-group inline"><label><i class="material-icons">domain</i>
                      Тип помещения: </label>
                      <input class="form-control" name="type" formControlName="type" placeholder="Тип помещения">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">sort_by_alpha</i>
                      Литер: </label>
                      <input class="form-control" name="liter" formControlName="liter" placeholder="Литер">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">stop</i>
                      Площадь: </label>
                      <input class="form-control" name="square" formControlName="square" placeholder="Площадь">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                      Цена: </label>
                      <input class="form-control" name="price" formControlName="price" placeholder="Цена">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">local_florist</i>
                      ТБО: </label>
                      <input class="form-control" name="tbo" formControlName="tbo" placeholder="ТБО">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">power</i>
                      Электричество: </label>
                      <input class="form-control" name="electric" formControlName="electric" placeholder="Электричество">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">network_cell</i>
                      Тел. связь: </label>
                      <input class="form-control" name="telNet" formControlName="telNet" placeholder="Тел. связь">
                    </div>
                    <div class="form-group inline"><label><i class="material-icons">attach_money</i>
                      Сумма всего: </label>
                      <input class="form-control" name="sumAll" formControlName="sumAll" placeholder="Сумма всего">
                    </div>
                    <div class="form-group"><label><i class="material-icons">event_note</i>
                      Примечание: </label>
                      <textarea class="form-control" name="note" formControlName="note" placeholder="Примечания"></textarea>
                    </div>
                  </div>

                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="warm" type="submit" (click)="close.click()" [disabled]="!addRenterForm.valid"><i class="material-icons">add</i> Добавить</button>
                  <button type="button" #close class="btn btn-sm btn-info" data-dismiss="modal">Закрыть</button>
                </mat-card-actions>

              </form>
            </div>
          </div>
        <div class="modal-footer">

        </div>
      </div>
      </div>
  </div>
</div>
