<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div *ngIf="auth.isSalesAdmin || auth.isUser">
<div class="card" *ngIf="!isLoading">
  <div class="col-md-9" *ngIf="!isEditing">

    <mat-card *ngFor="let task of tasks" class="col-md-4">
      <mat-card-header>
        <!--<div mat-card-avatar>{{task.type}}</div>-->
        <mat-card-title>{{task.name}}<span class="float-right">{{task.type}}</span></mat-card-title>
        <mat-card-subtitle>{{task.belongTo}}<span class="float-right">До {{task.until}}</span></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{task.plan}}
      </mat-card-content>
      <mat-card-actions>
        <span matTooltip="Редактировать">
          <button mat-mini-fab data-toggle="modal" data-target='#editingItem' (click)="enableEditing(task)"><i class="fa fa-pencil"></i> </button>
        </span>
        <span matTooltip="Удалить" *ngIf="auth.isSalesAdmin">
          <button mat-mini-fab color="warn" (click)="deleteTask(task)"><i class="fa fa-trash"></i> </button>
        </span>
        <span class={{task.status}}>{{task.status}}</span>
      </mat-card-actions>
    </mat-card>
</div>
</div>

<div class="modal fade" *ngIf="isEditing" id="editingItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" #closeEdit class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Редактирование плана</h4>
      </div>
      <form class="form-inline" #form="ngForm" (ngSubmit)="editTask(task)" style="display:inline">
        <div class="modal-body">
          <mat-form-field *ngIf="auth.isSalesAdmin">
            <span matTooltip="Введите название" class="time">
              <input matInput class="mat-input-element"  name="name" [(ngModel)]="task.name" placeholder="Название">
            </span>
          </mat-form-field>
          <mat-form-field *ngIf="auth.isSalesAdmin">
           <span matTooltip="Выберите тип">
              <mat-select [(ngModel)]="task.type" name="type" placeholder="Выберите тип">
                 <mat-option *ngFor="let item of localAreas" [value]="item.value">
                 {{ item.viewValue }}
                 </mat-option>
              </mat-select>
           </span>
          </mat-form-field>
            <mat-form-field>
                  <span matTooltip="Принадлежит">
                  <mat-select  name="belongTo"  [(ngModel)]="task.belongTo" placeholder="Принадлежит">
                  <mat-option *ngFor="let item of users" [value]="item.name">
                  <span>{{item.name}}</span>
                  </mat-option>
                  </mat-select>
                  </span>
            </mat-form-field>


          <mat-form-field *ngIf="auth.isSalesAdmin">
            <span matTooltip="Задача" class="time">
              <textarea matInput class="mat-input-element"  name="plan" [(ngModel)]="task.plan" placeholder="Задача"></textarea>
            </span>
          </mat-form-field>
          <mat-form-field>
           <span matTooltip="Статус">
              <mat-select [(ngModel)]="task.status" name="type" placeholder="Статус">
                 <mat-option *ngFor="let spec of statuses" [value]="spec.value">
                 {{ spec.viewValue }}
                 </mat-option>
              </mat-select>
           </span>
          </mat-form-field>
          <mat-form-field *ngIf="auth.isSalesAdmin">
            <span matTooltip="Срок" class="time">
              <input matInput class="mat-input-element" min={{todays}}  type="date"  name="until" [(ngModel)]="task.until">
            </span>
          </mat-form-field>          
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" (click)="closeEdit.click()" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
          <button class="btn btn-sm btn-warning" (click)="cancelEditing();closeEdit.click()"><i class="fa fa-times"></i> Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button class="add-item-button btn btn-sm btn-success" data-toggle="modal" data-target='#addNewItem' *ngIf="auth.isSalesAdmin">
  <span>Создать план</span>
</button>
<div class="modal fade" id="addNewItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Созданть план</h4>
      </div>
      <div class="modal-body">
        <div class="addItem">
          <div>
            <form class="form-inline" [formGroup]="addTaskForm" (ngSubmit)="addTask()" style="text-align:center">
              <mat-form-field>
                 <span matTooltip="Введите название">
                    <input matInput class="mat-input-element"  name="name" formControlName="name" placeholder="Название">
                 </span>
              </mat-form-field>
              <mat-form-field>
                 <span matTooltip="Выберите район">
                    <mat-select formControlName="type" placeholder="Тип">
                       <mat-option *ngFor="let item of types" [value]="item.value">
                       {{ item.viewValue }}
                       </mat-option>
                    </mat-select>
                 </span>
              </mat-form-field>
              <mat-form-field>
               <span matTooltip="Принадлежит" *ngIf="auth.isSalesAdmin">
                   <mat-select formControlName="belongTo" placeholder="Принадлежит">
                      <mat-option *ngFor="let item of users" [value]="item.username">
                      {{ item.username }}
                      </mat-option>
                   </mat-select>
                </span>
              </mat-form-field>
              <mat-form-field>
                <span matTooltip="План">
                  <textarea  matInput class="mat-input-element"  name="plan" formControlName="plan" placeholder="Задача"></textarea>
                </span>
              </mat-form-field>
              <mat-form-field>
                <span matTooltip="Срок">
                  <input type="date" matInput class="mat-input-element" min={{todays}}  name="until" formControlName="until">
                </span>
              </mat-form-field>
              <mat-form-field>
                 <span matTooltip="Статус">
                    <mat-select formControlName="status" placeholder="Тип">
                       <mat-option *ngFor="let item of statuses" [value]="item.value">
                       {{ item.viewValue }}
                       </mat-option>
                    </mat-select>
                 </span>
              </mat-form-field>
              <button mat-raised-button color="warm" type="submit" (click)="close.click()" [disabled]="!addTaskForm.valid"><i class="material-icons">add</i> Добавить</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #close class="btn btn-sm btn-warning" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

</div>