<header class="marketing-banner">
	<h4 class="page-title">
	    Сбыт
	</h4>
</header>
<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
	<div class="list-group">
	    <a class="list-group-item">1) Тендеры</a>
	    <a class="list-group-item">2) Кальций</a>
	    <a class="list-group-item">3) Рецептурно-Производственный Отдел (РПО)</a>
	    <a class="list-group-item">4) “Новитер” (список препаратов)</a>
	</div>
</div>
<div class="col-6 col-md-9 content">
	<router-outlet></router-outlet>
</div>

