a.nav-item.nav-link.logo img {
    height: 35px;
    box-shadow: none;
    transition: 0.3s;
}
a.nav-item.nav-link.logo {
    padding: 0;
}
a.nav-item.nav-link.logo:hover img {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.76) !important;
}
a .material-icons {
    color: #63b7ff;
    float: left;
}
.navbar {
    border-radius: 0;
}