a.nav-item.nav-link.logo img {
    height: 35px;
    box-shadow: none;
    transition: 0.3s;
}
a.nav-item.nav-link.logo {
    padding: 0;
}
a.nav-item.nav-link.logo:hover img {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.76) !important;
}
a .material-icons {
    color: #e6e6e6;
}
.navbar {
    border-radius: 0;
}
.col-md-1 {
    padding: 0;
}
.mat-list .mat-list-item div.mat-list-item-content {
    height: auto;
    padding: 0;
}

md-list-item.mat-list-item a.nav-item.nav-link.active, md-list-item.mat-list-item a:hover {
outline: 1px dashed rgb(206, 206, 206);
    transform: scale(1.1);
}
md-list-item.mat-list-item a {
    color: #e6e6e6;
    text-align: center;
    display: block;
    width: 100%;
	font-size: 12px;
 	transition: 0.3s;
}
md-list-item.mat-list-item a i {
    font-size: 50px;
}
md-list-item.mat-list-item {
    padding: 10px 0;
}
md-list.mat-list {
    padding-top: 0;
}
nav.navbar.navbar-dark.bg-primary {
    padding: 0 10px;
}
ul.nav.navbar-nav li {
    display: inline-block;
}
button.mat-button md-icon.mat-icon.material-icons {
    color: white;
    font-size: 24px;
}