mat-grid-tile.week-plan {
  background: rgb(182, 255, 146);
}

mat-grid-tile.month-plan{
    background: rgb(159, 153, 255);
}
mat-grid-tile.result-plan{

    background: rgb(153, 255, 231);
}
mat-card-header.mat-card-header mat-icon.mat-icon.material-icons {
    position: relative;
    top: 6px;
    margin-right: 6px;
}
mat-card-subheader mat-card-title.mat-card-title {
    display: inline-block;
    font-size: 14px;
    width: 49%;
    color: #909090;
    padding: 0px 10px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    background: #82c8ff;
    color: #ffffff;
    text-transform: lowercase;
}

mat-card-subheader mat-card-title.mat-card-title:last-child {
    text-align: right;
}
mat-card-actions.mat-card-actions {
    text-align: right;
}

.mat-grid-tile .mat-grid-tile-header span.label {
    display: inline;
    padding: .2em .6em .3em;
}
.mat-grid-tile .mat-grid-tile-footer button.btn-sm {
	padding: 0px 3px;
}
.mat-grid-tile .mat-grid-tile-header h2 {
    font-size: 20px;
}

mat-card-header.mat-card-header {
    width: 100%;
}
mat-card.col-md-4.mat-card {
    outline: 2px solid #c1c1c1;
}

mat-card.col-md-3.mat-card {
  width: 24%;
  margin-right: 10px;
  min-height: 110px;
  margin-bottom: 10px;
}
mat-card-subtitle.mat-card-subtitle i.material-icons {
    position: relative;
    top: 8px;
}