a.logo img {
    height: 50px;
}
.navbar-nav>li>a.logo {
    padding: 0;
}
a {
	font-size: 16px;
	cursor: pointer;
}

nav ul.navbar-nav {
    float: none;
    margin: 0;
    display: inline-block;
}
nav.navbar.navbar-light {
    padding: 10px 40px;
}
.navbar-nav>li {
    background: rgba(0, 0, 0, 0);
    margin-right: 20px;
}
.nav>li>a:focus, .nav>li>a.logo:hover {
    background-color: white;
    box-shadow: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(55, 143, 231, 0.46);
    box-shadow: rgb(0, 45, 90) 0 0 9px 2px inset;
}
.navbar-nav>li a{
    margin-left: 2px;
    color: white;
}
.navbar {
   border-radius: 0;
   background-color: #1976d2;
   margin: 0;
}