<nav class="navbar navbar-light">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/" routerLinkActive="active" class="text-uppercase logo"><img src="../../assets/logo.png"/></a>
    </li>
    <li>
      <a routerLink="/app-contragency" routerLinkActive="active" class="text-uppercase"><strong>Контрагенты</strong></a>
    </li>
    <li>
      <a routerLink="/app-nomenclature" routerLinkActive="active" class="text-uppercase"><strong>Номенклатура</strong></a>
    </li>
    <li>
      <a routerLink="/app-accomodation-db" routerLinkActive="active" class="text-uppercase"><strong>База данных помещений</strong></a>
    </li>
    <li>
      <a routerLink="/app-finance" routerLinkActive="active" class="text-uppercase"><strong>Финансы</strong></a>
    </li>
    <li>
      <a routerLink="/app-sales" routerLinkActive="active" class="text-uppercase"><strong>Сбыт</strong></a>
    </li>
  </ul>
</nav>
