<!-- CRUD -->
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="info_table">
  <div class="animated bounceInRight" *ngIf="!isLoading">
    <h4 class="">Текущие аптеки {{drugstores.length}}</h4>
    <md-tab-group>
      <md-tab label="Категория A(крупные сети аптек)">
        <div class="">
          <table class="table table-bordered table-striped">
            <thead class="thead-default">
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Рабочее время</th>
                <th>Телефон</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody *ngIf="drugstores.length === 0">
              <tr>
                <td colspan="5">В базе данных еще нет аптек. Добавьте их</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.type}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория A'"><span style="color: #757575;" mdPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isEditing">
              <tr>
                <td colspan="10">
                  <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
                    <md-form-field>
                      <span mdTooltip="Введите название">
                        <input mdInput class="mat-input-element" type="text" name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                      </span>
                    </md-form-field>
                    <md-form-field>
                      <span mdTooltip="Введите адрес">
                        <input mdInput class="mat-input-element" type="text" name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                      </span>
                    </md-form-field>
                    <span mdTooltip="Выберите тип">
                      <md-select name="type" [(ngModel)]="drugstore.type" placeholder="Тип">
                        <md-option *ngFor="let type of types" [value]="type.value">
                          {{ type.viewValue }}
                        </md-option>
                      </md-select>
                    </span>
                    <md-form-field>
                      <span mdTooltip="Рабочее время">
                        <input mdInput class="mat-input-element" type="text" name="workTime" [(ngModel)]="drugstore.workTime" placeholder="Рабочее время">
                      </span>
                    </md-form-field>
                    <md-form-field>
                      <span mdTooltip="Введите телефон">
                        <span style="color: #757575;" mdPrefix>+312 &nbsp;</span>
                        <input mdInput class="mat-input-element" type="text" name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                      </span>
                    </md-form-field>
                    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
                  </form>
                  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-tab>
      <md-tab label="Категория B(сети до 3-5 аптек)">
        <div class="">
          <table class="table table-bordered table-striped">
            <thead class="thead-default">
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Рабочее время</th>
                <th>Телефон</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody *ngIf="drugstores.length === 0">
              <tr>
                <td colspan="10">В базе данных еще нет аптек. Добавьте их</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория B'">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория B'">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория B'">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория B'"><span style="color: #757575;" mdPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория B'">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isEditing">
              <tr>
                <td colspan="10">
                  <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
                    <md-form-field>
                      <span mdTooltip="Введите название">
                        <input mdInput class="mat-input-element" type="text" name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                      </span>
                    </md-form-field>
                    <md-form-field>
                      <span mdTooltip="Введите адрес">
                        <input mdInput class="mat-input-element" type="text" name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                      </span>
                    </md-form-field>
                    <span mdTooltip="Выберите тип">
                      <md-select name="type" [(ngModel)]="drugstore.type" placeholder="Тип">
                        <md-option *ngFor="let type of types" [value]="type.value">
                          {{ type.viewValue }}
                        </md-option>
                      </md-select>
                    </span>
                    <md-form-field>
                      <span mdTooltip="Рабочее время">
                        <input mdInput class="mat-input-element" type="text" name="workTime" [(ngModel)]="drugstore.workTime" placeholder="Рабочее время">
                      </span>
                    </md-form-field>
                    <md-form-field>
                      <span style="color: #757575;" mdPrefix>+312 &nbsp;</span>
                      <span mdTooltip="Введите телефон">
                        <input mdInput class="mat-input-element" type="text" name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                      </span>
                    </md-form-field>
                    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
                  </form>
                  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-tab>
      <md-tab label="Категория C(одиночки, ЧП)">
        <div class="">
          <table class="table table-bordered table-striped">
            <thead class="thead-default">
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Рабочее время</th>
                <th>Телефон</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody *ngIf="drugstores.length === 0">
              <tr>
                <td colspan="10">В базе данных еще нет аптек. Добавьте их</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing"> 
              <tr *ngFor="let drugstore of drugstores ">
                <td *ngIf="drugstore.type === 'Категория C'">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория C'">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория C'">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория C'"><span style="color: #757575;" mdPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория C'">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isEditing">
              <tr>
                <td colspan="10">
                  <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
                    <md-form-field>
                      <span mdTooltip="Введите название">
                        <input mdInput class="mat-input-element" type="text" name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                      </span>
                    </md-form-field>
                    <md-form-field>
                      <span mdTooltip="Введите адрес">
                        <input mdInput class="mat-input-element" type="text" name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                      </span>
                    </md-form-field>
                    <span mdTooltip="Выберите тип">
                      <md-select name="type" [(ngModel)]="drugstore.type" placeholder="Тип">
                        <md-option *ngFor="let type of types" [value]="type.value">
                          {{ type.viewValue }}
                        </md-option>
                      </md-select>
                    </span>
                    <md-form-field>
                      <span mdTooltip="Рабочее время">
                        <input mdInput class="mat-input-element" type="text" name="workTime" [(ngModel)]="drugstore.workTime" placeholder="Рабочее время">
                      </span>
                    </md-form-field>
                    <md-form-field>
                      <span mdTooltip="Введите телефон">
                        <span style="color: #757575;" mdPrefix>+312 &nbsp;</span>
                        <input mdInput class="mat-input-element" type="text" name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                      </span>
                    </md-form-field>
                    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
                  </form>
                  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
  <md-sidenav-container class="example-container">
    <div class="example-sidenav-content">
      <button md-raised-button (click)="sidenav.open()">
        <md-icon>add</md-icon>Добавить аптеку
      </button>
    </div>
    <md-sidenav #sidenav class="example-sidenav">
      <div class="addItem" *ngIf="!isEditing">
        <div>
          <form class="form-inline" [formGroup]="addDrugstoreForm" (ngSubmit)="addDrugstore()" style="text-align:center">
            <md-form-field>
              <span mdTooltip="Введите название">
                <input mdInput class="mat-input-element" type="text" name="name" formControlName="name" placeholder="Название">
              </span>
            </md-form-field>
            <md-form-field>
              <span mdTooltip="Введите адрес">
                <input mdInput class="mat-input-element" type="text" name="address" formControlName="address" placeholder="Адрес">
              </span>
            </md-form-field>
            <span mdTooltip="Выберите тип">
              <md-select formControlName="type" placeholder="Тип">
                <md-option *ngFor="let type of types" [value]="type.value">
                  {{ type.viewValue }}
                </md-option>
              </md-select>
            </span>
            <md-form-field>
              <span mdTooltip="Рабочее время">
                <input mdInput class="mat-input-element" type="text" name="workTime" formControlName="workTime" placeholder="Рабочее время">
              </span>
            </md-form-field>
            <span mdTooltip="Введите телефон">
              <md-form-field>
                <span style="color: #757575;" mdPrefix>+312 &nbsp;</span>
                <input mdInput class="mat-input-element" type="text" name="tel" formControlName="tel" placeholder="Телефон">
              </md-form-field>
            </span>
            <button md-raised-button color="warm" (click)="sidenav.close()" class="" type="submit" [disabled]="!addDrugstoreForm.valid"><i class="material-icons">add</i> Добавить</button>
          </form>
        </div>
      </div>
    </md-sidenav>
  </md-sidenav-container>
</div>

<!--
<nav class="navbar navbar-light">
  <div class="row">
    
  </div>
</nav>
-->


<!--
      <li><a> -  (Неман, Бимед, Фармамир, Лекарь)   </a></li>
      <li><a> - </a></li>
      <li><a> - </a></li>
-->

	  	
  		
  		

