
<!-- CRUD -->
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="info_table col-md-12">
  <div *ngIf="drugstores.length === 0 && !isLoading">
    <h2>В базе данных еще нет аптек. Добавьте их</h2>
  </div>
  <h6>Количество аптек в базе: {{drugstores.length}}</h6>
  <mat-tab-group>
    <mat-tab label="Категория A(крупные сети аптек)">
      <div class="table-hover animated bounceInRight">
        <div class="example-header">
          <mat-input-container>
            <input matInput #filter placeholder="поиск">
          </mat-input-container>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- ChangeId Column -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Название </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория A'? row.name : ''}} </mat-cell>
          </ng-container>
          <!-- DateSubmitted -->
          <ng-container cdkColumnDef="localArea">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Район </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория A'? row.localArea : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeSponsor -->
          <ng-container cdkColumnDef="address">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Адрес </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория A'? row.address : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="tel">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория A'? row.tel : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="workTime">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Раб. время </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория A'? row.workTime : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="director">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Директор</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория A'? row.director : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="directorPhone">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Почта / Сайт </mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.type === 'Категория A'? row.directorPhone : ''}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="action">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Действия </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <button *ngIf="row.type === 'Категория A'" class="btn btn-sm btn-warning" data-toggle="modal" data-target='#editingItem' (click)="enableEditing(row)">
                <i class="fa fa-pencil"></i> Редактировать
              </button>
              <button *ngIf="row.type === 'Категория A'" class="btn btn-sm btn-danger" (click)="deleteDrugstore(row)">
                <i class="fa fa-trash"></i> Удалить
              </button>
            </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
          Ничего не найденно по вашему запросу.
        </div>
        <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </mat-tab>
    <mat-tab label="Категория B(сети до 3-5 аптек)">
      <div class="table-hover animated bounceInRight">
        <div class="example-header">
          <mat-input-container>
            <input matInput #filter placeholder="поиск">
          </mat-input-container>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- ChangeId Column -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Название </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория B'? row.name : ''}} </mat-cell>
          </ng-container>
          <!-- DateSubmitted -->
          <ng-container cdkColumnDef="localArea">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Район </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория B'? row.localArea : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeSponsor -->
          <ng-container cdkColumnDef="address">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Адрес </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория B'? row.address : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="tel">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория B'? row.tel : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="workTime">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Раб. время </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория B'? row.workTime : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="director">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Директор</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория B'? row.director : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="directorPhone">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Тел. директора </mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.type === 'Категория B'? row.directorPhone : ''}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="action">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Действия </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <button *ngIf="row.type === 'Категория B'" class="btn btn-sm btn-warning" data-toggle="modal" data-target='#editingItem' (click)="enableEditing(row)">
                <i class="fa fa-pencil"></i> Редактировать
              </button>
              <button *ngIf="row.type === 'Категория B'" class="btn btn-sm btn-danger" (click)="deleteDrugstore(row)">
                <i class="fa fa-trash"></i> Удалить
              </button>
            </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
          Ничего не найденно по вашему запросу.
        </div>
        <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </mat-tab>
    <mat-tab label="Категория C(одиночки, ЧП)">
      <div class="table-hover animated bounceInRight">
        <div class="example-header">
          <mat-input-container>
            <input matInput #filter placeholder="поиск">
          </mat-input-container>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- ChangeId Column -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Название </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория C'? row.name : ''}} </mat-cell>
          </ng-container>
          <!-- DateSubmitted -->
          <ng-container cdkColumnDef="localArea">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Район </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория C'? row.localArea : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeSponsor -->
          <ng-container cdkColumnDef="address">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Адрес </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория C'? row.address : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="tel">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория C'? row.tel : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="workTime">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Раб. время </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория C'? row.workTime : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="director">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Директор</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.type === 'Категория C'? row.director : ''}} </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <ng-container cdkColumnDef="directorPhone">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Тел. директора </mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.type === 'Категория C'? row.directorPhone : ''}}</mat-cell>
          </ng-container>
          <ng-container cdkColumnDef="action">
            <mat-header-cell *cdkHeaderCellDef mat-sort-header> Действия </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <button *ngIf="row.type === 'Категория C'"  class="btn btn-sm btn-warning" data-toggle="modal" data-target='#editingItem' (click)="enableEditing(row)">
                <i class="fa fa-pencil"></i> Редактировать
              </button>
              <button *ngIf="row.type === 'Категория C'"  class="btn btn-sm btn-danger" (click)="deleteDrugstore(row)">
                <i class="fa fa-trash"></i> Удалить
              </button>
            </mat-cell>
          </ng-container>
          <!-- ChangeDescription -->
          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
          Ничего не найденно по вашему запросу.
        </div>
        <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
<div class="modal fade" *ngIf="isEditing" id="editingItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" #closeEdit class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Редактирование аптеки</h4>
      </div>

      <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
        <div class="modal-body">
          <mat-form-field>
                  <span matTooltip="Введите название" class="time">
                    <input matInput class="mat-input-element"  name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                  </span>
          </mat-form-field>
          <mat-form-field>
                     <span matTooltip="Выберите район">
                        <mat-select [(ngModel)]="drugstore.localArea" name="localArea" placeholder="Выберите район">
                           <mat-option *ngFor="let spec of localAreas" [value]="spec.value">
                           {{ spec.viewValue }}
                           </mat-option>
                        </mat-select>
                     </span>
          </mat-form-field>
          <mat-form-field>
                  <span matTooltip="Введите адрес" class="time">
                    <input matInput class="mat-input-element"  name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                  </span>
          </mat-form-field>
          <mat-form-field>
                  <span matTooltip="Выберите тип">
                    <mat-select [(ngModel)]="drugstore.type" name="type" placeholder="Выберите тип">
                      <mat-option *ngFor="let spec of types" [value]="spec.value">
                        {{ spec.viewValue }}
                      </mat-option>
                    </mat-select>
                  </span>
          </mat-form-field>
          <mat-form-field>
                  <span matTooltip="Введите телефон" class="time">
                    <input matInput class="mat-input-element"  name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                  </span>
          </mat-form-field>
          <mat-form-field>
                  <span matTooltip="Введите раб. время">
                    <input matInput class="mat-input-element"  name="workTime"  [(ngModel)]="drugstore.workTime"  placeholder="Введите раб. время">
                  </span>
          </mat-form-field>
          <span matTooltip="Введите имя директора">
                  <mat-form-field>
                     <input matInput class="mat-input-element"  name="tel" [(ngModel)]="drugstore.director" placeholder="Введите имя директора">
                  </mat-form-field>
               </span>
          <mat-form-field class="time">
                  <span matTooltip="Телефон директора">
                    <input matInput name="directorPhone" [(ngModel)]="drugstore.directorPhone" class="mat-input-element"  placeholder="Телефон директора">
                  </span>
          </mat-form-field>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" (click)="closeEdit.click()" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
          <button class="btn btn-sm btn-warning" (click)="cancelEditing();closeEdit.click()"><i class="fa fa-times"></i> Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<button class="add-item-button btn btn-sm btn-success" data-toggle="modal" data-target='#addNewItem'>
  <span>Добавить аптеку</span>
</button>

<div class="modal fade" id="addNewItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Добавление новой аптеки</h4>
      </div>
      <div class="modal-body">
        <div class="addItem">
          <div>
            <form class="form-inline" [formGroup]="addDrugstoreForm" (ngSubmit)="addDrugstore()" style="text-align:center">
              <mat-form-field>
                     <span matTooltip="Введите название">
                     <input matInput class="mat-input-element"  name="name" formControlName="name" placeholder="Название">
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Выберите район">
                        <mat-select formControlName="localArea" placeholder="Выберите район">
                           <mat-option *ngFor="let spec of localAreas" [value]="spec.value">
                           {{ spec.viewValue }}
                           </mat-option>
                        </mat-select>
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Введите адрес">
                     <input matInput class="mat-input-element"  name="address" formControlName="address" placeholder="Адрес">
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Выберите тип аптеки">
                        <mat-select formControlName="type" placeholder="Выберите тип аптеки">
                           <mat-option *ngFor="let spec of types" [value]="spec.value">
                           {{ spec.viewValue }}
                           </mat-option>
                        </mat-select>
                     </span>
              </mat-form-field>
              <span matTooltip="Введите телефон">
                     <mat-form-field>
                        <input matInput class="mat-input-element"  name="tel" formControlName="tel" placeholder="Телефон">
                     </mat-form-field>
                  </span>
              <mat-form-field>
                     <span matTooltip="Раб.время">
                     <input matInput formControlName="workTime" class="mat-input-element"  placeholder="Раб.время">
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Имя директора">
                     <input matInput formControlName="director" class="mat-input-element"  placeholder="Имя директора">
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Телефон директора">
                     <input matInput formControlName="directorPhone" class="mat-input-element"  placeholder="Телефон директора">
                     </span>
              </mat-form-field>
              <button mat-raised-button color="warm" type="submit" (click)="close.click()" [disabled]="!addDrugstoreForm.valid"><i class="material-icons">add</i> Добавить</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #close class="btn btn-sm btn-warning" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<!-- CRUD
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="info_table">
  <div class="animated bounceInRight" *ngIf="!isLoading">
    <h4 class="">Текущие аптеки {{drugstores.length}}</h4>
    <mat-tab-group>
      <mat-tab label="Категория A(крупные сети аптек)">
        <div class="">
          <table class="table table-bordered table-striped">
            <thead class="thead-default" *ngIf="!isEditing">
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Рабочее время</th>
                <th>Телефон</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody *ngIf="drugstores.length === 0">
              <tr>
                <td colspan="5">В базе данных еще нет аптек. Добавьте их</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing && !isSearching">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория A'"><span style="color: #757575;" matPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория A'">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing && isSearching">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория A' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория A' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория A' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория A' && drugstore.name.toUpperCase().startsWith(searchItem)"><span style="color: #757575;" matPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория A' && drugstore.name.toUpperCase().startsWith(searchItem)">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isEditing">
              <tr>
                <td colspan="10">
                  <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
                    <mat-form-field>
                      <span matTooltip="Введите название">
                        <input matInput class="mat-input-element" type="text" name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Введите адрес">
                        <input matInput class="mat-input-element" type="text" name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                    <span matTooltip="Выберите тип">
                      <mat-select name="type" [(ngModel)]="drugstore.type" placeholder="Тип">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                          {{ type.viewValue }}
                        </mat-option>
                      </mat-select>
                    </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Рабочее время">
                        <input matInput class="mat-input-element" type="time" name="workTime" [(ngModel)]="drugstore.workTime" placeholder="Рабочее время">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Введите телефон">
                        <span style="color: #757575;" matPrefix>+312 &nbsp;</span>
                        <input matInput class="mat-input-element" type="number" name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                      </span>
                    </mat-form-field>
                    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
                  </form>
                  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Категория B(сети до 3-5 аптек)">
        <div class="">
          <table class="table table-bordered table-striped">
            <thead class="thead-default" *ngIf="!isEditing">
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Рабочее время</th>
                <th>Телефон</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody *ngIf="drugstores.length === 0">
              <tr>
                <td colspan="10">В базе данных еще нет аптек. Добавьте их</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing  && !isSearching">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория B'">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория B'">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория B'">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория B'"><span style="color: #757575;" matPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория B'">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing && isSearching">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория B' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория B' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория B' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория B' && drugstore.name.toUpperCase().startsWith(searchItem)"><span style="color: #757575;" matPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория B' && drugstore.name.toUpperCase().startsWith(searchItem)">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isEditing">
              <tr>
                <td colspan="10">
                  <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
                    <mat-form-field>
                      <span matTooltip="Введите название">
                        <input matInput class="mat-input-element" type="text" name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Введите адрес">
                        <input matInput class="mat-input-element" type="text" name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                    <span matTooltip="Выберите тип">
                      <mat-select name="type" [(ngModel)]="drugstore.type" placeholder="Тип">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                          {{ type.viewValue }}
                        </mat-option>
                      </mat-select>
                    </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Рабочее время">
                        <input matInput class="mat-input-element" type="time" name="workTime" [(ngModel)]="drugstore.workTime" placeholder="Рабочее время">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span style="color: #757575;" matPrefix>+312 &nbsp;</span>
                      <span matTooltip="Введите телефон">
                        <input matInput class="mat-input-element" type="number" name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                      </span>
                    </mat-form-field>
                    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
                  </form>
                  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Категория C(одиночки, ЧП)">
        <div class="">
          <table class="table table-bordered table-striped">
            <thead class="thead-default" *ngIf="!isEditing">
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Рабочее время</th>
                <th>Телефон</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody *ngIf="drugstores.length === 0">
              <tr>
                <td colspan="10">В базе данных еще нет аптек. Добавьте их</td>
              </tr>
            </tbody>
            <tbody *ngIf="!isEditing  && !isSearching">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория C'">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория C'">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория C'">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория C'"><span style="color: #757575;" matPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория C'">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
             <tbody *ngIf="!isEditing && isSearching">
              <tr *ngFor="let drugstore of drugstores">
                <td *ngIf="drugstore.type === 'Категория C' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.name}}</td>
                <td *ngIf="drugstore.type === 'Категория C' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.address}}</td>
                <td *ngIf="drugstore.type === 'Категория C' && drugstore.name.toUpperCase().startsWith(searchItem)">{{drugstore.workTime}}</td>
                <td *ngIf="drugstore.type === 'Категория C' && drugstore.name.toUpperCase().startsWith(searchItem)"><span style="color: #757575;" matPrefix>+312 &nbsp;</span>{{drugstore.tel}}</td>
                <td *ngIf="drugstore.type === 'Категория C' && drugstore.name.toUpperCase().startsWith(searchItem)">
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(drugstore)">
                    <i class="fa fa-pencil"></i> Редактировать
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="deleteDrugstore(drugstore)">
                    <i class="fa fa-trash"></i> Удалить
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isEditing">
              <tr>
                <td colspan="10">
                  <form class="form-inline" #form="ngForm" (ngSubmit)="editDrugstore(drugstore)" style="display:inline">
                    <mat-form-field>
                      <span matTooltip="Введите название">
                        <input matInput class="mat-input-element" type="text" name="name" [(ngModel)]="drugstore.name" placeholder="Название">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Введите адрес">
                        <input matInput class="mat-input-element" type="text" name="address" [(ngModel)]="drugstore.address" placeholder="Адрес">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                    <span matTooltip="Выберите тип">
                      <mat-select name="type" [(ngModel)]="drugstore.type" placeholder="Тип">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                          {{ type.viewValue }}
                        </mat-option>
                      </mat-select>
                    </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Рабочее время">
                        <input matInput class="mat-input-element" type="time" name="workTime" [(ngModel)]="drugstore.workTime" placeholder="Рабочее время">
                      </span>
                    </mat-form-field>
                    <mat-form-field>
                      <span matTooltip="Введите телефон">
                        <span style="color: #757575;" matPrefix>+312 &nbsp;</span>
                        <input matInput class="mat-input-element" type="number" name="tel" [(ngModel)]="drugstore.tel" placeholder="Телефон">
                      </span>
                    </mat-form-field>
                    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
                  </form>
                  <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-sidenav-container class="example-container">
    <div class="example-sidenav-content">
      <button mat-raised-button (click)="sidenav.open()">
        <mat-icon>add</mat-icon>Добавить аптеку
      </button>
    </div>
    <mat-sidenav #sidenav class="example-sidenav">
      <div class="addItem" *ngIf="!isEditing">
        <div>
          <form class="form-inline" [formGroup]="addDrugstoreForm" (ngSubmit)="addDrugstore()" style="text-align:center">
            <mat-form-field>
              <span matTooltip="Введите название">
                <input matInput class="mat-input-element" type="text" name="name" formControlName="name" placeholder="Название">
              </span>
            </mat-form-field>
            <mat-form-field>
              <span matTooltip="Введите адрес">
                <input matInput class="mat-input-element" type="text" name="address" formControlName="address" placeholder="Адрес">
              </span>
            </mat-form-field>
            <mat-form-field>
            <span matTooltip="Выберите тип">
              <mat-select formControlName="type" placeholder="Тип">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </span>
            </mat-form-field>
            <mat-form-field>
              <span matTooltip="Рабочее время">
                <input matInput class="mat-input-element" type="time" name="workTime" formControlName="workTime" placeholder="Рабочее время">
              </span>
            </mat-form-field>
            <span matTooltip="Введите телефон">
              <mat-form-field>
                <span style="color: #757575;" matPrefix>+312 &nbsp;</span>
                <input matInput class="mat-input-element" type="number" name="tel" formControlName="tel" placeholder="Телефон">
              </mat-form-field>
            </span>
            <button mat-raised-button color="warm" (click)="sidenav.close()" class="" type="submit" [disabled]="!addDrugstoreForm.valid"><i class="material-icons">add</i> Добавить</button>
          </form>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<!--
<nav class="navbar navbar-light">
  <div class="row">

  </div>
</nav>
-->


<!--
      <li><a> -  (Неман, Бимед, Фармамир, Лекарь)   </a></li>
      <li><a> - </a></li>
      <li><a> - </a></li>
-->





