<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Регистрация</h4>
  <div class="card-block md-6">
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="input-group" [ngClass]="setClassUsername()">
        <md-form-field>
          <i mdPrefix class="material-icons">person</i>
          <input class="mat-input-element" mdInput type="text" name="username" formControlName="username" placeholder="Логин" autofocus>
          <md-error _ngcontent-c24="" class="mat-error" role="alert" id="mat-error-3">Нужно ввести <strong _ngcontent-c24="">логин</strong></md-error>
        </md-form-field>
      </div>
      <div class="input-group" [ngClass]="setClassEmail()">
       <md-form-field>
          <i mdPrefix class="material-icons">mail</i>
          <input class="mat-input-element" mdInput type="email" name="email" formControlName="email" placeholder="Почта">
          <md-error _ngcontent-c24="" class="mat-error" role="alert" id="mat-error-3">Нужно ввести <strong _ngcontent-c24="">почту</strong></md-error>
        </md-form-field>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <md-form-field>
          <i mdPrefix class="material-icons">vpn_key</i>
          <input class="mat-input-element" mdInput type="password" name="password" formControlName="password" placeholder="Пароль">
          <md-error _ngcontent-c24="" class="mat-error" role="alert" id="mat-error-3">Нужно ввести <strong _ngcontent-c24="">пароль</strong></md-error>
        </md-form-field>
      </div>
      <div class="input-group">
       <i mdPrefix class="material-icons">vpn_key</i>
        <md-select placeholder="Роль" class="mat-select" name="role" formControlName="role" style="margin-left: 10px;">
          <md-option value="user">Пользователь</md-option>
          <md-option value="admin">Админ</md-option>
        </md-select>
      </div>
      <button md-raised-button color="warm" class="" type="submit" [disabled]="!registerForm.valid"><i class="material-icons">person_add</i> Зарегестрировать</button>
    </form>
  </div>
</div>