
  <!-- CRUD -->
<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="row info_table">
  <div class="" *ngIf="!isLoading">
    <h4 class="">Арендаторы {{renters.length}}</h4>
    <div class="">
      <table class="table table-bordered table-striped">
        <thead class="thead-default">
          <tr>
            <th>Имя</th>
            <th>Фам.</th>
            <!--
            <th>Д.р.</th>
            <th>Тел.</th>
            <th>Тип</th>
            <th>Литер</th>
            <th>Кв. м</th>
            <th>Цена</th>
            <th>Срок от</th>
            <th>Срок до</th>
            <th>Сумма</th>
            <th>Депозит</th>
            <th>ТБО</th>
            <th>Электричество</th>
            <th>Городской телефон</th>
            <th>Сумма всего</th>
            <th>Факт. оплата</th>
            <th>Дата оплаты</th>
            <th>Тип оплаты</th>
            <th>status</th>
            <th>Заметка</th>-->
            <th>Действия</th>
          </tr>
        </thead>
        <tbody *ngIf="renters.length === 0">
          <tr>
            <td colspan="22">В базе данных нету Арендаторов добавьте их.</td>
          </tr>  
        </tbody>

        <tbody *ngIf="!isEditing">
          <tr  *ngFor="let renter of renters">
            <td  data-toggle="modal"  [attr.data-target]="'#'+renter.name">{{renter.name}}</td>
            <td  data-toggle="modal"  [attr.data-target]="'#'+renter.name">{{renter.sur}}</td>
            <!-- Modal -->
            <div class="modal fade" [attr.id]="renter.name" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <md-card class="example-card">
                    <md-card-header>
                      <md-card-title>ФИО: {{renter.name + ' ' + renter.sur}}</md-card-title>
                      <md-card-subtitle>Статус: {{renter.status}}</md-card-subtitle>
                    </md-card-header>
                    <md-card-content>
                      <td>{{renter.dob}}</td>
                      <td>0 {{renter.tel}}</td>
                      <td>{{renter.type}}</td>
                      <td>{{renter.liter}}</td>
                      <td>{{renter.square}}</td>
                      <td>{{renter.price}}</td>
                      <td>{{renter.dateFrom}}</td>
                      <td>{{renter.dateUntil}}</td>
                      <td>{{renter.priceSum}}</td>
                      <td>{{renter.deposite}}</td>
                      <td>{{renter.tbo}}</td>
                      <td>{{renter.electric}}</td>
                      <td>{{renter.telNet}}</td>
                      <td>{{renter.sumAll}}</td>
                      <td>{{renter.factPay}}</td>
                      <td>{{renter.datePay}}</td>
                      <td>{{renter.typePay}}</td>
                      <td>{{renter.note}}</td>
                    </md-card-content>
                    <md-card-actions>
                      <button class="btn btn-sm btn-warning" (click)="enableEditing(renter)">
                        <i class="fa fa-pencil"></i> 
                        Редактировать
                      </button> 
                      <button class="btn btn-sm btn-danger" (click)="deleteRenter(renter)">
                        <i class="fa fa-trash"></i>  
                        Удалить
                      </button>
                      <button md-button type="button" data-dismiss="modal">Закрыть</button>
                    </md-card-actions>
                  </md-card>
                </div>
              </div>
            </div>
            <td>
              <button class="btn btn-sm btn-warning" (click)="enableEditing(renter)">
                <i class="fa fa-pencil"></i> 
                Редактировать
              </button> 
              <button class="btn btn-sm btn-danger" (click)="deleteRenter(renter)">
                <i class="fa fa-trash"></i>  
                Удалить
              </button>
            </td>
          </tr>  
        </tbody>
        <tbody *ngIf="isEditing">
          <tr>
            <td colspan="5">
              <form class="form-inline" #form="ngForm" (ngSubmit)="editRenter(renter)" style="display:inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" [(ngModel)]="renter.name" placeholder="Имя" required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="sur" [(ngModel)]="renter.sur" placeholder="Фам."  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="dob" [(ngModel)]="renter.dob" step="any" min="0" placeholder="д.р."  required>
                </div>
                <div class="form-group">
                <span mdPrefix>0</span>
                  <input class="form-control" type="text" name="tel" [(ngModel)]="renter.tel"  placeholder="Тел"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="type" [(ngModel)]="renter.type" placeholder="Тип"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="liter" [(ngModel)]="renter.liter" placeholder="Литер"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="square" [(ngModel)]="renter.square" placeholder="Кв. метр"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="price" [(ngModel)]="renter.price" placeholder="Цена"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="dateFrom" [(ngModel)]="renter.dateFrom" placeholder="Дата от"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="dateUntil" [(ngModel)]="renter.dateUntil" placeholder="Дата до"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="priceSum" [(ngModel)]="renter.priceSum" placeholder="Сумма"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="deposite" [(ngModel)]="renter.deposite" placeholder="Депозит"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="tbo" [(ngModel)]="renter.tbo" placeholder="ТБО"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="electric" [(ngModel)]="renter.electric" placeholder="Электричество"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="telNet" [(ngModel)]="renter.telNet" placeholder="Тел. связь"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="sumAll" [(ngModel)]="renter.sumAll" placeholder="Сумма всего"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="factPay" [(ngModel)]="renter.factPay" placeholder="Фактическая оплата"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="datePay" [(ngModel)]="renter.datePay" placeholder="Дата оплаты"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="typePay" [(ngModel)]="renter.typePay" placeholder="Тип оплаты"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="status" [(ngModel)]="renter.status" placeholder="Статус"  required>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="note" [(ngModel)]="renter.note" placeholder="Примечание"  required>
                </div>
                <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
              </form>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Отменить</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <md-sidenav-container class="example-container">
<div class="example-sidenav-content">
        <button md-raised-button (click)="sidenav.open()"><md-icon>add</md-icon>Добавить арендатора
        </button>
      </div>
      <md-sidenav #sidenav class="example-sidenav">
        <div  class="addItem" *ngIf="!isEditing">
    <div>
      <form class="form-inline" [formGroup]="addRenterForm" (ngSubmit)="addRenter()" style="text-align:center">
        <md-form-field>
          <span mdTooltip="Нужно ввести имя"><input mdInput class="mat-input-element" type="text" name="name" formControlName="name" placeholder="Имя"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести фамилие"><input mdInput class="mat-input-element" type="text" name="sur" formControlName="sur" placeholder="Фамилие"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести день рождения"><input mdInput class="mat-input-element" type="text" name="sur" formControlName="dob" placeholder="Д.р."></span>
        </md-form-field>
        <span mdTooltip="Нужно ввести телефон">
        <md-form-field>
          <span style="color: #757575;" mdPrefix>+996 &nbsp;</span><input mdInput class="mat-input-element" type="tel" name="tel" formControlName="tel" placeholder="Телефон">
        </md-form-field>
        </span>
        <md-form-field>
          <span mdTooltip="Нужно ввести type"><input mdInput class="mat-input-element" type="text" name="type" formControlName="type" placeholder="Тип"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести liter"><input mdInput class="mat-input-element" type="text" name="liter" formControlName="liter" placeholder="Литер"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести square"><input mdInput class="mat-input-element" type="text" name="square" formControlName="square" placeholder="Кв. м"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести price"><input mdInput class="mat-input-element" type="text" name="price" formControlName="price" placeholder="Цена"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести dateFrom"><input mdInput class="mat-input-element" type="text" name="dateFrom" formControlName="dateFrom" placeholder="Дата от"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести dateUntil"><input mdInput class="mat-input-element" type="text" name="dateUntil" formControlName="dateUntil" placeholder="Дата до"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести priceSum"><input mdInput class="mat-input-element" type="text" name="priceSum" formControlName="priceSum" placeholder="Сумма"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести deposite"><input mdInput class="mat-input-element" type="text" name="deposite" formControlName="deposite" placeholder="Депозит"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести tbo"><input mdInput class="mat-input-element" type="text" name="tbo" formControlName="tbo" placeholder="ТБО"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести electric"><input mdInput class="mat-input-element" type="text" name="electric" formControlName="electric" placeholder="Электричество"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести telNet"><input mdInput class="mat-input-element" type="text" name="telNet" formControlName="telNet" placeholder="Тел. связь"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести sumAll"><input mdInput class="mat-input-element" type="text" name="sumAll" formControlName="sumAll" placeholder="Сумма всего"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести factPay"><input mdInput class="mat-input-element" type="text" name="factPay" formControlName="factPay" placeholder="Факт оплата"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести datePay"><input mdInput class="mat-input-element" type="text" name="datePay" formControlName="datePay" placeholder="Дата оплаты"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести typePay"><input mdInput class="mat-input-element" type="text" name="typePay" formControlName="typePay" placeholder="Тип оплаты"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести status"><input mdInput class="mat-input-element" type="text" name="status" formControlName="status" placeholder="Статус"></span>
        </md-form-field>
        <md-form-field>
          <span mdTooltip="Нужно ввести note"><input mdInput class="mat-input-element" type="text" name="note" formControlName="note" placeholder="Заметка"></span>
        </md-form-field>
        <button md-raised-button color="warm" class=""  type="submit" [disabled]="!addRenterForm.valid"><i class="material-icons">add</i> Добавить</button>
      </form>
    </div>
  </div>
      </md-sidenav>
   </md-sidenav-container>
</div>
