<header class="marketing-banner">
  <h4 class="page-title">
	    Контрагенты
	</h4>
</header>
<div class="col-12 col-md-12">
<nav class="navbar navbar-light">
  <div class="navbar" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="medics" routerLinkActive="active" class="nav-link">Врачи</a>
      </li>  
      <li class="nav-item">
        <a routerLink="lpu" routerLinkActive="active" class="nav-link">ЛПУ</a>
      </li>
      <li class="nav-item">
        <a routerLink="drugstores" routerLinkActive="active" class="nav-link">Аптеки</a>
      </li>
      <li class="nav-item">  
        <a routerLink="individuals" routerLinkActive="active" class="nav-link">Физ. лица</a>
      </li>
    </ul>
  </div>
</nav>
</div>


<div class="col-12 col-md-12 content">
  <router-outlet></router-outlet>
</div>
