<header class="marketing-banner">
	<h4 class="page-title">
	    Контрагенты
	</h4>
</header>
<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
	<div class="list-group">
	    <a routerLink="medics" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Врачи</a>
	    <a routerLink="lpu" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-home"></i> ЛПУ</a>
	    <a routerLink="drugstores" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-plus"></i> Аптеки</a>
	    <a routerLink="individuals" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Физ. лица</a>
	    <a routerLink="coworkers" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Сотрудники</a>
	    <a routerLink="renters" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Арендаторы</a>
	</div>
</div>
<div class="col-6 col-md-9 content">
	<router-outlet></router-outlet>
</div>



