span.greeting-text.float-right {
    font-size: 14px;
    text-align: right;
    color: white;
}
.card {
    min-height: 300px;
    background-color: #ffffff6e;
    cursor: initial !important;
}
.dragged-item {
    cursor: pointer;
}