<!-- CRUD-->
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>

<div class="info_table col-md-12">
  <div *ngIf="medics.length === 0 && !isLoading">
    <h2>В базе данных еще нет врачей. Добавьте их</h2>
  </div>
  <h6>Количество врачей в базе: {{medics.length}}</h6>
  <div class="table-hover animated bounceInRight">
    <div class="example-header">
      <mat-input-container>
        <input matInput #filter placeholder="поиск">
      </mat-input-container>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- ChangeId Column -->
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Ф.И.О. </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <!-- DateSubmitted -->
      <ng-container cdkColumnDef="spec">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Специальность </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.spec}} </mat-cell>
      </ng-container>
      <!-- ChangeSponsor -->
      <ng-container cdkColumnDef="hos">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> ЛПУ </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.hos}} </mat-cell>
      </ng-container>
      <!-- ChangeDescription -->
      <ng-container cdkColumnDef="type">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> тип ЛПУ </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.type}} </mat-cell>
      </ng-container>
      <!-- ChangeDescription -->
      <ng-container cdkColumnDef="local">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Адрес </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.local}} </mat-cell>
      </ng-container>
      <!-- ChangeDescription -->
      <ng-container cdkColumnDef="workTime">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Р.в.</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.workTime}} </mat-cell>
      </ng-container>
      <!-- ChangeDescription -->
      <ng-container cdkColumnDef="tel">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.tel}}</mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Действия </mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <button class="btn btn-sm btn-warning" data-toggle="modal" data-target='#editingItem' (click)="enableEditing(row)">
            <i class="fa fa-pencil"></i> Редактировать
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteMedic(row)">
            <i class="fa fa-trash"></i> Удалить
          </button>
        </mat-cell>
      </ng-container>
      <!-- ChangeDescription -->
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
      Ничего не найденно по вашему запросу.
    </div>
    <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <div class="modal fade" id="editingItem" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" #closeEdit class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Редактирование врача</h4>
        </div>
        <form class="form-inline" #form="ngForm" (ngSubmit)="editMedic(medic)" style="display:inline">
          <div class="modal-body">
            <mat-form-field>
                  <span matTooltip="Введите Ф.И.О." class="time">
                  <input matInput class="mat-input-element"  name="name" [(ngModel)]="medic.name" placeholder="Ф.И.О.">
                  </span>
            </mat-form-field>
            <mat-form-field>
              <span matTooltip="Выберите специальность">
                <mat-select [(ngModel)]="medic.spec" name="spec" placeholder="Специальность">
                  <mat-option *ngFor="let spec of specs" [value]="spec.value">
                    {{ spec.viewValue }}
                  </mat-option>
                </mat-select>
              </span>
            </mat-form-field>
            <mat-form-field>
                  <span matTooltip="Выберите тип">
                  <mat-select #selectedType [(ngModel)]="medic.type" name="type"  placeholder="Тип">
                  <mat-option *ngFor="let spec of lpus | slice:0:3;" [value]="spec.type">
                  {{ spec.type }}
                  </mat-option>
                  </mat-select>
                  </span>
            </mat-form-field>
            <mat-form-field>
                  <span matTooltip="Выберите больницу">
                  <mat-select  name="hos"  [(ngModel)]="medic.hos" placeholder="ЛПУ">
                  <mat-option *ngFor="let spec of lpus" [value]="spec.name">
                  <span *ngIf="selectedType.value === spec.type">{{spec.name}}</span>
                  </mat-option>
                  </mat-select>
                  </span>
            </mat-form-field>
            <mat-form-field>
                  <span matTooltip="Введите адрес">
                  <input matInput class="mat-input-element"  name="local"  [(ngModel)]="medic.local"  placeholder="Адрес">
                  </span>
            </mat-form-field>
            <span matTooltip="Введите телефон">
                  <mat-form-field>
                     <input matInput class="mat-input-element"  name="tel" [(ngModel)]="medic.tel" placeholder="Телефон">
                  </mat-form-field>
               </span>
            <mat-form-field class="time">
                  <span matTooltip="Раб.время">
                  <input matInput name="workTimeFrom" [(ngModel)]="medic.workTime" class="mat-input-element"  placeholder="Раб.время c">
                  </span>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm btn-primary" (click)="closeEdit.click()" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing();closeEdit.click()"><i class="fa fa-times"></i> Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<button class="add-item-button btn btn-sm btn-success" data-toggle="modal" data-target='#addNewItem'>
  <span>Добавить врача</span>
</button>
<!-- Modal -->
<div class="modal fade" id="addNewItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Добавление нового врача</h4>
      </div>
      <div class="modal-body">
        <div class="addItem">
          <div>
            <form class="form-inline" [formGroup]="addMedicForm" (ngSubmit)="addMedic()" style="text-align:center">
              <mat-form-field>
                     <span matTooltip="Введите Ф.И.О.">
                     <input matInput class="mat-input-element"  name="name" formControlName="name" placeholder="Ф.И.О.">
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Выберите специальность">
                        <mat-select formControlName="spec" placeholder="Специальность">
                           <mat-option *ngFor="let spec of specs" [value]="spec.value">
                           {{ spec.viewValue }}
                           </mat-option>
                        </mat-select>
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Выберите тип ЛПУ">
                        <mat-select #selectedType formControlName="type" placeholder="Тип ЛПУ">
                           <mat-option *ngFor="let spec of lpus | slice:0:3;" [value]="spec.type">
                           {{ spec.type }}
                           </mat-option>
                        </mat-select>
                     </span>
              </mat-form-field>
              <mat-form-field *ngIf="selectedType.value !== undefined">
                     <span matTooltip="Выберите больницу">
                        <mat-select  formControlName="hos" placeholder="ЛПУ">
                           <mat-option *ngFor="let spec of lpus" [value]="spec.name">
                           <span *ngIf="selectedType.value === spec.type">{{spec.name}}</span>
                           </mat-option>
                        </mat-select>
                     </span>
              </mat-form-field>
              <mat-form-field>
                     <span matTooltip="Введите адрес">
                     <input matInput class="mat-input-element"  name="local" formControlName="local" placeholder="Адрес">
                     </span>
              </mat-form-field>
              <span matTooltip="Введите телефон">
                     <mat-form-field>
                        <input matInput class="mat-input-element"  name="tel" formControlName="tel" placeholder="Телефон">
                     </mat-form-field>
                  </span>
              <mat-form-field>
                     <span matTooltip="Раб.время">
                     <input matInput formControlName="workTime" class="mat-input-element"  placeholder="Раб.время">
                     </span>
              </mat-form-field>
              <button mat-raised-button color="warm" type="submit" (click)="close.click()" [disabled]="!addMedicForm.valid"><i class="material-icons">add</i> Добавить</button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #close class="btn btn-sm btn-warning" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
