
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
     <h4 class="label nav-link label-info">Специальность</h4>
  </li>
  <li class="nav-item">
     <a class="nav-link">Травматолог</a>
  </li>
  <li class="nav-item">
     <a class="nav-link">Терапевт</a>
  </li>
</ul>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
     <h4 class="label nav-link label-info">Больница</h4>
  </li>
  <li class="nav-item">
     <a class="nav-link">ЦСМ</a>
  </li>
  <li class="nav-item">
     <a class="nav-link">Госпиаль</a>
  </li>
  <li class="nav-item">
     <a class="nav-link">Частная клиника</a>
  </li>
</ul>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
     <h4 class="label nav-link label-info">Тип</h4>
  </li>
  <li class="nav-item">
     <a class="nav-link">Государственная</a>
  </li>
  <li class="nav-item">
     <a class="nav-link">Частная</a>
  </li>
</ul>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
     <h4 class="label nav-link label-info">Локализация</h4>
  </li>
  <li class="nav-item">
     <a class="nav-link">Первомайская</a>
  </li>
  <li class="nav-item">
     <a class="nav-link">Октябрьская</a>
  </li>
</ul>
