<header class="marketing-banner">
  <h4 class="page-title">
	    Сотрудники
	</h4>
</header>
<!-- CRUD-->
<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div class="info_table col-md-12">
	<div *ngIf="coworkers.length === 0 && !isLoading">
		<h2>В базе данных еще нет сотрудников Добавьте их</h2>
	</div>
	<h6>Количество сотрудников в базе: {{coworkers.length}}</h6>
	<div class="table-hover animated bounceInRight">
		<div class="example-header">
			<mat-input-container>
				<input matInput #filter placeholder="поиск">
			</mat-input-container>
		</div>
		<mat-table #table [dataSource]="dataSource" matSort>
			<!-- ChangeId Column -->
			<ng-container cdkColumnDef="name">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Ф.И.О. </mat-header-cell>
				<mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
			</ng-container>
			<!-- DateSubmitted -->
			<ng-container cdkColumnDef="dob">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Д.р </mat-header-cell>
				<mat-cell *cdkCellDef="let row"> {{row.dob}} </mat-cell>
			</ng-container>
			<ng-container cdkColumnDef="tel">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Телефон </mat-header-cell>
				<mat-cell *cdkCellDef="let row">{{row.tel}}</mat-cell>
			</ng-container>
			<ng-container cdkColumnDef="workPlace">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Компания </mat-header-cell>
				<mat-cell *cdkCellDef="let row">{{row.workPlace}}</mat-cell>
			</ng-container>
			<ng-container cdkColumnDef="subdivision">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Подразделение </mat-header-cell>
				<mat-cell *cdkCellDef="let row">{{row.subdivision}}</mat-cell>
			</ng-container>
			<ng-container cdkColumnDef="position">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Должность </mat-header-cell>
				<mat-cell *cdkCellDef="let row">{{row.position}}</mat-cell>
			</ng-container>
			<ng-container cdkColumnDef="adress">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Дата приема на работу </mat-header-cell>
				<mat-cell *cdkCellDef="let row">{{row.adress}}</mat-cell>
			</ng-container>
			<ng-container cdkColumnDef="action">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Действия </mat-header-cell>
				<mat-cell *cdkCellDef="let row">
					<button class="btn btn-sm btn-warning" data-toggle="modal" data-target='#editingItem' (click)="enableEditing(row)">
						<i class="fa fa-pencil"></i> Редактировать
					</button>
					<button class="btn btn-sm btn-danger" (click)="deleteCoworker(row)">
						<i class="fa fa-trash"></i> Удалить
					</button>
				</mat-cell>
			</ng-container>
			<!-- ChangeDescription -->
			<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *cdkRowDef="let row; columns: displayedColumns;">
			</mat-row>
		</mat-table>
		<div class="example-no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
			Ничего не найденно по вашему запросу.
		</div>
		<mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
		</mat-paginator>
	</div>
	<div class="modal fade" *ngIf="isEditing" id="editingItem" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" #closeEdit class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Редактирование сотрудника</h4>
				</div>
				<form class="form-inline" #form="ngForm" (ngSubmit)="editCoworker(coworker)" style="display:inline">
					<div class="modal-body">
						<mat-form-field>
							<span matTooltip="Введите Ф.И.О." class="time">
								<input matInput class="mat-input-element" name="name" [(ngModel)]="coworker.name" placeholder="Ф.И.О.">
							</span>
						</mat-form-field>
						<mat-form-field>
							<span matTooltip="Введите д.р">
								<input matInput class="mat-input-element" name="dob" [(ngModel)]="coworker.dob" placeholder="Д.р">
							</span>
						</mat-form-field>
						<mat-form-field>
		                     <span matTooltip="Место работы">
		                        <mat-select  [(ngModel)]="coworker.workPlace" name="workPlace" placeholder="Место работы">
		                           <mat-option *ngFor="let item of companies" [value]="item.type">
		                           <span>{{item.viewValue}}</span>
		                           </mat-option>
		                        </mat-select>
		                     </span>
		              	</mat-form-field>
						<mat-form-field>
							<span matTooltip="Должность">
								<input matInput class="mat-input-element" name="position" [(ngModel)]="coworker.position" placeholder="Должность">
							</span>
						</mat-form-field>
						<mat-form-field>
							<span matTooltip="Подразделение">
								<input matInput class="mat-input-element" name="subdivision" [(ngModel)]="coworker.subdivision" placeholder="Подразделение">
							</span>
						</mat-form-field>

						<span matTooltip="Введите телефон">
							<mat-form-field>
								<input matInput class="mat-input-element" name="tel" [(ngModel)]="coworker.tel" placeholder="Телефон">
							</mat-form-field>
						</span>
						<span matTooltip="Введите Адрес">
							<mat-form-field>
								<input matInput class="mat-input-element" name="adress" [(ngModel)]="coworker.adress" placeholder="Адрес">
							</mat-form-field>
						</span>
					</div>
					<div class="modal-footer">
						<button class="btn btn-sm btn-primary" (click)="closeEdit.click()" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Сохранить</button>
						<button class="btn btn-sm btn-warning" (click)="cancelEditing();closeEdit.click()"><i class="fa fa-times"></i> Отменить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<button class="add-item-button btn btn-sm btn-success" data-toggle="modal" data-target='#addNewItem'>
	<span>Добавить сотрудника</span>
</button>
<!-- Modal -->
<div class="modal fade" id="addNewItem" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Добавление нового сотрудника</h4>
			</div>
			<div class="modal-body">
				<div class="addItem">
					<div>
						<form class="form-inline" [formGroup]="addCoworkerForm" (ngSubmit)="addCoworker()" style="text-align:center">
							<mat-form-field>
								<span matTooltip="Введите Ф.И.О.">
									<input matInput class="mat-input-element" name="name" formControlName="name" placeholder="Ф.И.О.">
								</span>
							</mat-form-field>
							<mat-form-field>
								<span matTooltip="Введите Д.р">
									<input matInput class="mat-input-element" name="dob" formControlName="dob" placeholder="Д.р">
								</span>
							</mat-form-field>
							<mat-form-field>
			                     <span matTooltip="Место работы">
			                        <mat-select  formControlName="workPlace" placeholder="Место работы">
			                           <mat-option *ngFor="let item of companies" [value]="item.value">
			                           <span>{{item.viewValue}}</span>
			                           </mat-option>
			                        </mat-select>
			                     </span>
			              	</mat-form-field>
							<mat-form-field>
								<span matTooltip="Должность">
									<input matInput class="mat-input-element" name="position" formControlName="position" placeholder="Должность">
								</span>
							</mat-form-field>
							<mat-form-field>
								<span matTooltip="Подразделение">
									<input matInput class="mat-input-element" name="subdivision" formControlName="subdivision" placeholder="Подразделение">
								</span>
							</mat-form-field>
							<span matTooltip="Введите телефон">
								<mat-form-field>
									<input matInput class="mat-input-element" name="tel" formControlName="tel" placeholder="Телефон">
								</mat-form-field>
							</span>
							<span matTooltip="Введите адрес">
								<mat-form-field>
									<input matInput class="mat-input-element" name="adress" formControlName="adress" placeholder="Адрес">
								</mat-form-field>
							</span>
							<button mat-raised-button color="warm" type="submit" (click)="close.click()" [disabled]="!addCoworkerForm.valid"><i class="material-icons">add</i> Добавить</button>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" #close class="btn btn-sm btn-warning" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>
