<header class="marketing-banner">
	<h2>
	    Контрагенты
	</h2>
</header>
<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
	<div class="list-group">
	    <a routerLink="app-medics" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Врачи</a>
	    <a routerLink="app-lpu" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-home"></i> ЛПУ</a>
	    <a routerLink="app-drugstores" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-plus"></i> Аптеки</a>
	    <a routerLink="app-individuals" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Физ. лица</a>
	    <a routerLink="app-coworkers" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Сотрудники</a>
	    <a routerLink="app-renters" routerLinkActive="active" class="list-group-item"><i class="glyphicon glyphicon-user"></i> Арендаторы</a>
	</div>
</div>
<div class="col-6 col-md-9 content">
	<router-outlet></router-outlet>
</div>



