<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div *ngIf="!isLoading">
  <h4 class="page-title">Настройки аккаунта</h4>
  <div class="card-block">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <mat-form-field>
        <i matPrefix class="material-icons">person</i>
        <input matInput class="mat-input-element" type="text" name="username" [(ngModel)]="user.username" placeholder="Логин" required>
        <mat-error  class="mat-error" role="alert" >Нужно ввести  <strong >логин</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <i matPrefix class="material-icons">person</i>
        <input matInput class="mat-input-element" type="text" name="nick" [(ngModel)]="user.nick" placeholder="ФИО" required>
        <mat-error  class="mat-error" role="alert" >Нужно ввести  <strong >ФИО</strong></mat-error>
      </mat-form-field>
      <mat-form-field>
        <i matPrefix class="material-icons">mail</i>
        <input matInput class="mat-input-element" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
        <mat-error  class="mat-error" role="alert" >Нужно ввести свою <strong >почту</strong></mat-error>
      </mat-form-field>
      <div class="input-group">
        <i matPrefix class="material-icons">vpn_key</i>
        <mat-select style="margin-left: 10px;" placeholder="Роль" class="mat-select" name="role" [(ngModel)]="user.role">
          <mat-option value="superAdmin">Супер админ</mat-option>
          <mat-option value="salesAdmin">Админ сбыта</mat-option>
          <mat-option value="rentersAdmin">Админ аренды</mat-option>
          <mat-option value="user">Агент</mat-option>
        </mat-select>
      </div>
      <button mat-raised-button type="submit" [disabled]="!accountForm.form.valid">
        <i class="material-icons">person_add</i> Сохранить
      </button>
    </form>
  </div>
</div>
