<app-toast [message]="toast.message"></app-toast>

<div class="col-md-6">
  <h4 class="">Логин</h4>
  <div class="">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mat-input-flex mat-form-field-flex" [ngClass]="setClassEmail()">
        <mat-form-field>
          <i matPrefix class="material-icons">mail</i>
          <input class="mat-input-element" matInput type="email" name="email" formControlName="email" placeholder=" Почта">
          <mat-error  class="mat-error" role="alert" >Нужно ввести свою <strong >почту</strong></mat-error>
        </mat-form-field>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <mat-form-field>
          <i matPrefix class="material-icons">vpn_key</i>
          <input matInput class="mat-input-element" type="password" name="password" formControlName="password" placeholder=" Пароль">
           <mat-error  class="mat-error" role="alert" >Нужно ввести <strong >пароль</strong></mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="warm" class="" type="submit" [disabled]="!loginForm.valid"><i class="material-icons">arrow_upward</i> Войти</button>
    </form>
  </div>
</div>
